<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <h3>PatilWebsmith</h3>

            <p>
                Modern websites, ecommerce solutions,
                and custom web applications for businesses.
            </p>

        </div>

        <div class="footer-contact">

            <p>📧 patilwebsmith@gmail.com</p>
            <p>📞 +91 9172497767</p>
            <p>📍 Kolhapur, Maharashtra</p>

        </div>

    </div>

    <div class="footer-bottom">
        © 2025 PatilWebsmith. All rights reserved.
    </div>

</footer>