<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">

  <div class="container">

    <a class="navbar-brand d-flex align-items-center" href="../about.html">
       <img src="../images/logo.jpg" height="40" class="me-2"> 
     
      <span class="fw-bold">PatilWebsmith</span>
    </a>

    <!-- MOBILE TOGGLE -->
    <button class="navbar-toggler"
             id="menuToggle"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navMenu">

      <span class="navbar-toggler-icon"></span>

    </button>

    <!-- NAVBAR -->
    <div class="collapse navbar-collapse" id="navMenu">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>

        <!-- SERVICES DROPDOWN -->
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">

            Services

          </a>

          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="/services/ecommerce.html">E-Commerce</a></li>
            <li><a class="dropdown-item" href="/services/corporate.html">Corporate</a></li>
            <li><a class="dropdown-item" href="/services/maintenance.html">Maintenance</a></li>
            <li><a class="dropdown-item" href="/services/landing.html">Landing Pages</a></li>
            <li><a class="dropdown-item" href="/services/custom.html">Custom Web Apps</a></li>

          </ul>

        </li>

        <!-- PORTFOLIO DROPDOWN -->
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">

            Portfolio

          </a>

          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="/portfolio/ecommerce.html">Fashion E-Commerce</a></li>
            <li><a class="dropdown-item" href="/portfolio/manufacturing.html">Manufacturing</a></li>
            <li><a class="dropdown-item" href="/portfolio/interior.html">Interior Design</a></li>
            <li><a class="dropdown-item" href="/portfolio/education.html">Education</a></li>
            <li><a class="dropdown-item" href="/portfolio/restaurant.html">Restaurant</a></li>

          </ul>

        </li>

        <li class="nav-item">
          <a class="nav-link" href="/process.html">Process</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact.html">Contact</a>
        </li>

      </ul>

    </div>

  </div>

</nav>
